<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
      accusamus qui quod.
    </p>
  </div>
  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">Card Title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae in expedita
        blanditiis delectus quae possimus ut odio inventore ipsa. Quos, labore
        vitae?
      </div>
    </div>
  </div>
  
  
</section>
<section class="block block--dark block--skewed-left">
  <div class="container">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Asperiores
      accusamus qui quod.
    </p>
  </div>
</section>